<form action="/cmdb/asset_del" method="post" class="form form-horizontal" id="form_validation">
    {% csrf_token %}


    <!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
	<!--<div class="modal-dialog">-->
		<!--<div class="modal-content">-->
			<!--<div class="modal-header">-->
				<!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">-->
					<!--&times;-->
				<!--</button>-->
				<!--<h4 class="modal-title" id="myModalLabel">-->
					<!--模态框（Modal）标题-->
				<!--</h4>-->
			<!--</div>-->
			<!--<div class="modal-body">-->
				<!--在这里添加一些文本-->
			<!--</div>-->
			<!--<div class="modal-footer">-->
				<!--<button type="button" class="btn btn-default" data-dismiss="modal">关闭-->
				<!--</button>-->
				<!--<button type="button" class="btn btn-primary">-->
					<!--提交更改-->
				<!--</button>-->
			<!--</div>-->
		<!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
	<!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->
<!--</div>-->



<div class="text-center">
        <input type="text" name="asset_id" class="hidden" value="{{ del_id }}"/>
        <button type="submit" class="btn radius btn-primary" style="margin: 10px 5px">删除</button>
        <button class="btn radius " data-dismiss="modal" aria-hidden="true" style="margin: 10px  5px" >关闭</button>

    </div>

</form>
