@charset "utf-8";
/*4.20 折叠*/
.Tinyfold .item{position:relative}
.Tinyfold .item h4{margin:0;font-weight:bold;position:relative;border-top: 1px solid #fff;font-size:15px;line-height:22px;padding:7px 10px;background-color:#eee;cursor:pointer;padding-right:30px}
.Tinyfold .item h4 b{position:absolute;display: block; cursor:pointer;right:10px;top:7px;width:16px;height:16px; text-align:center; color:#666}
.Tinyfold .item .info{display:none;padding:10px}