{% extends "rudiment_index.html" %}
{% block breadcrumb %}
操作成功
{% endblock %}
{% block content %}
{% load staticfiles %}
<div style="margin-top:50px;font-weight: 800;font-size: large">
<p>{{ success }}</p>
<span id="time" style="background: #00BFFF">{{ time }}</span>
    秒钟后自动跳转，如果不跳转，请点击下面的链接<a href="{{ nextUrl }}">返回</a>
</div>
{% endblock %}
{% block footjs %}
<script language="JavaScript" type="text/javascript">
    function delayURL(url) {
		var delay = document.getElementById("time").innerHTML;
		if(delay > 0) {
			delay--;
			document.getElementById("time").innerHTML = delay;
		} else {
			location.href = url;
            return false;
		}
		setTimeout("delayURL('" + url + "')", 1000);
	}

    delayURL("{{ nextUrl }}");

</script>
{% endblock %}