@charset "utf-8";
/*4.9 进度条 */
.progress-unique,.progress-bars,.sr-modern{height:10px; font-size:0;line-height:0}
.progress-unique{overflow:hidden; width:400px;-khtml-border-radius:6px;-ms-border-radius:6px;-o-border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px}
.progress-bars{width:100%;background-color:#efefef}
.sr-modern{display:inline-block; background-color:#58b957}

.bar-holder{position:relative}
.progress .progress-bar {line-height: 20px;overflow: hidden;position: absolute;}
.progress {background-color:#eee;border: 1px solid #dde;position: relative;}

.progress-micro {
    height: 3px !important;
    line-height: 3px !important;
}
.progress-xs {
    height: 7px !important;
    line-height: 7px !important;
}
.progress-sm {
    height: 14px !important;
    line-height: 14px !important;
}
.progress-lg {
    height: 30px !important;
    line-height: 30px !important;
}
.progress .progressbar-back-text {
    font-size: 12px;
    height: 100%;
    line-height: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
}
.progress .progressbar-front-text {
    display: block;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    width: 100%;
}
.progress.right .progress-bar {
    right: 0;
}
.progress.right .progressbar-front-text {
    position: absolute;
    right: 0;
}
.progress.vertical {
    display: inline-block;
    height: 100%;
    margin-bottom: 0;
    margin-right: 20px;
    min-height: 150px;
    width: 25px;
}
.progress.wide-bar {
    width: 40px;
}
.progress.vertical.bottom {
    position: relative;
}
.progress.vertical.bottom .progressbar-front-text {
    bottom: 0;
    position: absolute;
}
.progress.vertical .progress-bar {
    height: 0;
    transition: height 0.6s ease 0s;
    width: 100%;
}
.progress.vertical.bottom .progress-bar {
    bottom: 0;
    position: absolute;
}
.progress {
    background: none repeat scroll 0 0 #eee;
    border-radius: 0;
    box-shadow: 0 1px 0 transparent, 0 0 0 1px #e3e3e3 inset;
    height: 22px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}
.progress-bar {
    background-color: #57889c;
    background-image: url("../img/pattern/overlay-pattern.png");
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    color: #fff;
    float: left;
    font-size: 11px;
    font-weight: 700;
    height: 100%;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    width: 0;
}
.progress-striped .progress-bar {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}
.progress.active .progress-bar {
    animation: 2s linear 0s normal none infinite running progress-bar-stripes;
}
.progress-bar-danger {
    background-color: #a90329;
}
.progress-striped .progress-bar-danger {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-success {
    background-color: #739e73;
}
.progress-striped .progress-bar-success {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
    background-color: #c79121;
}
.progress-striped .progress-bar-warning {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-info {
    background-color: #57889c;
}
.progress-striped .progress-bar-info {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress .bar-info, .progress-info .bar {
    background: none repeat scroll 0 0 #57889c;
}
.vertical-bars {
    margin: 0;
    padding: 0;
}
.vertical-bars::after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}
.vertical-bars li {
    display: block;
    float: left;
    padding: 14px 0;
    text-align: center;
    width: 25%;
}
.vertical-bars li:first-child {
    border-left: medium none;
}
.vertical-bars > li > .progress.vertical:first-child {
    margin-left: auto;
}
.vertical-bars > li > .progress.vertical {
    float: none;
    margin: 0 auto;
}
.bar-holder:first-child {
    border-top: medium none;
}
.bar-holder {
    padding: 18px 15px;
}
.bar-holder .progress {
    margin: 0;
}
[data-progressbar-value] {
    margin-bottom: 0;
    margin-top: 15px !important;
    overflow: visible;
}
.dataTable [data-progressbar-value] {
    min-width: 70px;
}
[data-progressbar-value="100"]::after, [data-progressbar-value="100"]::before, [data-progressbar-value]::after, [data-progressbar-value]::before {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-size: 11px;
    position: absolute;
    top: -12px;
}
[data-progressbar-value]::before {
    content: attr(data-progressbar-value);
}
[data-progressbar-value]::after {
    content: "%";
    left: 13px;
}
[data-progressbar-value="1"] > .progress-bar {
    background: none repeat scroll 0 0 #a90329;
    width: 1%;
}
[data-progressbar-value="2"] > .progress-bar {
    background: none repeat scroll 0 0 #a90329;
    width: 2%;
}
[data-progressbar-value="3"] > .progress-bar {
    background: none repeat scroll 0 0 #a90329;
    width: 3%;
}
[data-progressbar-value="4"] > .progress-bar {
    background: none repeat scroll 0 0 #a90329;
    width: 4%;
}
[data-progressbar-value="5"] > .progress-bar {
    background: none repeat scroll 0 0 #a90329;
    width: 5%;
}
[data-progressbar-value="6"] > .progress-bar {
    background: none repeat scroll 0 0 #a90329;
    width: 6%;
}
[data-progressbar-value="7"] > .progress-bar {
    background: none repeat scroll 0 0 #a90329;
    width: 7%;
}
[data-progressbar-value="8"] > .progress-bar {
    background: none repeat scroll 0 0 #a90329;
    width: 8%;
}
[data-progressbar-value="9"] > .progress-bar {
    background: none repeat scroll 0 0 #a90329;
    width: 9%;
}
[data-progressbar-value="10"] > .progress-bar {
    background: none repeat scroll 0 0 #db0435;
    width: 10%;
}
[data-progressbar-value="11"] > .progress-bar {
    background: none repeat scroll 0 0 #c79121;
    width: 11%;
}
[data-progressbar-value="12"] > .progress-bar {
    background: none repeat scroll 0 0 #c79121;
    width: 12%;
}
[data-progressbar-value="13"] > .progress-bar {
    background: none repeat scroll 0 0 #c79121;
    width: 13%;
}
[data-progressbar-value="14"] > .progress-bar {
    background: none repeat scroll 0 0 #c79121;
    width: 14%;
}
[data-progressbar-value="15"] > .progress-bar {
    background: none repeat scroll 0 0 #c79121;
    width: 15%;
}
[data-progressbar-value="16"] > .progress-bar {
    background: none repeat scroll 0 0 #c79121;
    width: 16%;
}
[data-progressbar-value="17"] > .progress-bar {
    background: none repeat scroll 0 0 #c79121;
    width: 17%;
}
[data-progressbar-value="18"] > .progress-bar {
    background: none repeat scroll 0 0 #c79121;
    width: 18%;
}
[data-progressbar-value="19"] > .progress-bar {
    background: none repeat scroll 0 0 #c79121;
    width: 19%;
}
[data-progressbar-value="20"] > .progress-bar {
    background: none repeat scroll 0 0 #c79121;
    width: 20%;
}
[data-progressbar-value="21"] > .progress-bar {
    background: none repeat scroll 0 0 #c79121;
    width: 21%;
}
[data-progressbar-value="22"] > .progress-bar {
    background: none repeat scroll 0 0 #c79121;
    width: 22%;
}
[data-progressbar-value="23"] > .progress-bar {
    background: none repeat scroll 0 0 #c79121;
    width: 23%;
}
[data-progressbar-value="24"] > .progress-bar {
    background: none repeat scroll 0 0 #c79121;
    width: 24%;
}
[data-progressbar-value="25"] > .progress-bar {
    background: none repeat scroll 0 0 #c79121;
    width: 25%;
}
[data-progressbar-value="26"] > .progress-bar {
    background: none repeat scroll 0 0 #c79121;
    width: 26%;
}
[data-progressbar-value="27"] > .progress-bar {
    background: none repeat scroll 0 0 #c79121;
    width: 27%;
}
[data-progressbar-value="28"] > .progress-bar {
    background: none repeat scroll 0 0 #c79121;
    width: 28%;
}
[data-progressbar-value="29"] > .progress-bar {
    background: none repeat scroll 0 0 #c79121;
    width: 29%;
}
[data-progressbar-value="30"] > .progress-bar {
    background: none repeat scroll 0 0 #c79121;
    width: 30%;
}
[data-progressbar-value="31"] > .progress-bar {
    background: none repeat scroll 0 0 #c79121;
    width: 31%;
}
[data-progressbar-value="32"] > .progress-bar {
    background: none repeat scroll 0 0 #c79121;
    width: 32%;
}
[data-progressbar-value="33"] > .progress-bar {
    background: none repeat scroll 0 0 #c79121;
    width: 33%;
}
[data-progressbar-value="34"] > .progress-bar {
    background: none repeat scroll 0 0 #c79121;
    width: 34%;
}
[data-progressbar-value="35"] > .progress-bar {
    background: none repeat scroll 0 0 #c79121;
    width: 35%;
}
[data-progressbar-value="36"] > .progress-bar {
    background: none repeat scroll 0 0 #c79121;
    width: 36%;
}
[data-progressbar-value="37"] > .progress-bar {
    background: none repeat scroll 0 0 #c79121;
    width: 37%;
}
[data-progressbar-value="38"] > .progress-bar {
    background: none repeat scroll 0 0 #c79121;
    width: 38%;
}
[data-progressbar-value="39"] > .progress-bar {
    background: none repeat scroll 0 0 #c79121;
    width: 39%;
}
[data-progressbar-value="40"] > .progress-bar {
    background: none repeat scroll 0 0 #c79121;
    width: 40%;
}
[data-progressbar-value="41"] > .progress-bar {
    background: none repeat scroll 0 0 #404040;
    width: 41%;
}
[data-progressbar-value="42"] > .progress-bar {
    background: none repeat scroll 0 0 #404040;
    width: 42%;
}
[data-progressbar-value="43"] > .progress-bar {
    background: none repeat scroll 0 0 #404040;
    width: 43%;
}
[data-progressbar-value="44"] > .progress-bar {
    background: none repeat scroll 0 0 #404040;
    width: 44%;
}
[data-progressbar-value="45"] > .progress-bar {
    background: none repeat scroll 0 0 #404040;
    width: 45%;
}
[data-progressbar-value="46"] > .progress-bar {
    background: none repeat scroll 0 0 #404040;
    width: 46%;
}
[data-progressbar-value="47"] > .progress-bar {
    background: none repeat scroll 0 0 #404040;
    width: 47%;
}
[data-progressbar-value="48"] > .progress-bar {
    background: none repeat scroll 0 0 #404040;
    width: 48%;
}
[data-progressbar-value="49"] > .progress-bar {
    background: none repeat scroll 0 0 #404040;
    width: 49%;
}
[data-progressbar-value="50"] > .progress-bar {
    background: none repeat scroll 0 0 #404040;
    width: 50%;
}
[data-progressbar-value="51"] > .progress-bar {
    background: none repeat scroll 0 0 #404040;
    width: 51%;
}
[data-progressbar-value="52"] > .progress-bar {
    background: none repeat scroll 0 0 #404040;
    width: 52%;
}
[data-progressbar-value="53"] > .progress-bar {
    background: none repeat scroll 0 0 #404040;
    width: 53%;
}
[data-progressbar-value="54"] > .progress-bar {
    background: none repeat scroll 0 0 #404040;
    width: 54%;
}
[data-progressbar-value="55"] > .progress-bar {
    background: none repeat scroll 0 0 #404040;
    width: 55%;
}
[data-progressbar-value="56"] > .progress-bar {
    background: none repeat scroll 0 0 #404040;
    width: 56%;
}
[data-progressbar-value="57"] > .progress-bar {
    background: none repeat scroll 0 0 #404040;
    width: 57%;
}
[data-progressbar-value="58"] > .progress-bar {
    background: none repeat scroll 0 0 #404040;
    width: 58%;
}
[data-progressbar-value="59"] > .progress-bar {
    background: none repeat scroll 0 0 #404040;
    width: 59%;
}
[data-progressbar-value="60"] > .progress-bar {
    background: none repeat scroll 0 0 #404040;
    width: 60%;
}
[data-progressbar-value="61"] > .progress-bar {
    background: none repeat scroll 0 0 #3276b1;
    width: 61%;
}
[data-progressbar-value="62"] > .progress-bar {
    background: none repeat scroll 0 0 #3276b1;
    width: 62%;
}
[data-progressbar-value="63"] > .progress-bar {
    background: none repeat scroll 0 0 #3276b1;
    width: 63%;
}
[data-progressbar-value="64"] > .progress-bar {
    background: none repeat scroll 0 0 #404040;
    width: 64%;
}
[data-progressbar-value="65"] > .progress-bar {
    background: none repeat scroll 0 0 #3276b1;
    width: 65%;
}
[data-progressbar-value="66"] > .progress-bar {
    background: none repeat scroll 0 0 #3276b1;
    width: 66%;
}
[data-progressbar-value="67"] > .progress-bar {
    background: none repeat scroll 0 0 #3276b1;
    width: 67%;
}
[data-progressbar-value="68"] > .progress-bar {
    background: none repeat scroll 0 0 #3276b1;
    width: 68%;
}
[data-progressbar-value="69"] > .progress-bar {
    background: none repeat scroll 0 0 #3276b1;
    width: 69%;
}
[data-progressbar-value="70"] > .progress-bar {
    background: none repeat scroll 0 0 #3276b1;
    width: 70%;
}
[data-progressbar-value="71"] > .progress-bar {
    background: none repeat scroll 0 0 #3276b1;
    width: 71%;
}
[data-progressbar-value="72"] > .progress-bar {
    background: none repeat scroll 0 0 #3276b1;
    width: 72%;
}
[data-progressbar-value="73"] > .progress-bar {
    background: none repeat scroll 0 0 #3276b1;
    width: 73%;
}
[data-progressbar-value="74"] > .progress-bar {
    background: none repeat scroll 0 0 #3276b1;
    width: 74%;
}
[data-progressbar-value="75"] > .progress-bar {
    background: none repeat scroll 0 0 #3276b1;
    width: 75%;
}
[data-progressbar-value="76"] > .progress-bar {
    background: none repeat scroll 0 0 #3276b1;
    width: 76%;
}
[data-progressbar-value="77"] > .progress-bar {
    background: none repeat scroll 0 0 #3276b1;
    width: 77%;
}
[data-progressbar-value="78"] > .progress-bar {
    background: none repeat scroll 0 0 #3276b1;
    width: 78%;
}
[data-progressbar-value="79"] > .progress-bar {
    background: none repeat scroll 0 0 #3276b1;
    width: 79%;
}
[data-progressbar-value="80"] > .progress-bar {
    background: none repeat scroll 0 0 #3276b1;
    width: 80%;
}
[data-progressbar-value="81"] > .progress-bar {
    background: none repeat scroll 0 0 #a0bda0;
    width: 81%;
}
[data-progressbar-value="82"] > .progress-bar {
    background: none repeat scroll 0 0 #a0bda0;
    width: 82%;
}
[data-progressbar-value="83"] > .progress-bar {
    background: none repeat scroll 0 0 #a0bda0;
    width: 83%;
}
[data-progressbar-value="84"] > .progress-bar {
    background: none repeat scroll 0 0 #9dbb9d;
    width: 84%;
}
[data-progressbar-value="85"] > .progress-bar {
    background: none repeat scroll 0 0 #9dbb9d;
    width: 85%;
}
[data-progressbar-value="86"] > .progress-bar {
    background: none repeat scroll 0 0 #9dbb9d;
    width: 86%;
}
[data-progressbar-value="87"] > .progress-bar {
    background: none repeat scroll 0 0 #97b797;
    width: 87%;
}
[data-progressbar-value="88"] > .progress-bar {
    background: none repeat scroll 0 0 #97b797;
    width: 88%;
}
[data-progressbar-value="89"] > .progress-bar {
    background: none repeat scroll 0 0 #91b391;
    width: 89%;
}
[data-progressbar-value="90"] > .progress-bar {
    background: none repeat scroll 0 0 #91b391;
    width: 90%;
}
[data-progressbar-value="91"] > .progress-bar {
    background: none repeat scroll 0 0 #91b391;
    width: 91%;
}
[data-progressbar-value="92"] > .progress-bar {
    background: none repeat scroll 0 0 #8eb18e;
    width: 92%;
}
[data-progressbar-value="93"] > .progress-bar {
    background: none repeat scroll 0 0 #8baf8b;
    width: 93%;
}
[data-progressbar-value="94"] > .progress-bar {
    background: none repeat scroll 0 0 #88ad88;
    width: 94%;
}
[data-progressbar-value="95"] > .progress-bar {
    background: none repeat scroll 0 0 #85ab85;
    width: 95%;
}
[data-progressbar-value="96"] > .progress-bar {
    background: none repeat scroll 0 0 #82a882;
    width: 96%;
}
[data-progressbar-value="97"] > .progress-bar {
    background: none repeat scroll 0 0 #7fa67f;
    width: 97%;
}
[data-progressbar-value="98"] > .progress-bar {
    background: none repeat scroll 0 0 #7ca47c;
    width: 98%;
}
[data-progressbar-value="99"] > .progress-bar {
    background: none repeat scroll 0 0 #79a279;
    width: 99%;
}
[data-progressbar-value="100"] > .progress-bar {
    animation: 0s ease 0s normal none 1 running none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #739e73;
    background-image: none !important;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    width: 100%;
}
[data-progressbar-value="100"]::before {
    content: attr(data-progressbar-value);
    top: -12px;
}
[data-progressbar-value="100"]::after {
    color: #739e73;
    content: "complete";
    left: auto;
    right: 0;
}