@charset "utf-8";
/*3.6 图片*/
/*3.6.1 头像*/
.avatar{display:inline-block;position:relative; overflow:hidden}
.avatar img{ display:block}
.avatar.radius,.avatar.radius img{border-radius:50%}

.avatar-mini,.avatar.avatar-mini img{ width:16px; height:16px}
.avatar.avatar-S,.avatar.avatar-S img{ width:24px; height:24px}
.avatar.avatar-M,.avatar.avatar-M img{ width:32px; height:32px}
.avatar.avatar-L,.avatar.avatar-L img{ width:48px; height:48px}
.avatar.avatar-XL,.avatar.avatar-XL img{ width:64px; height:64px}

